.popular-recipe-container {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(150px, auto);
  }
  .loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .popular-recipe-container {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }