.recipes-container {
  margin: 80px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: minmax(150px, auto);
}
.btn-load-more {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-load-more button {
  padding: 15px 40px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .recipes-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
